

.flex-center-center{
    display: flex;
    align-items: center;
    justify-content: center;
}
.main-btn{
    width: 50rem;
    height: 10rem;
    font-family: 'Orbitron', sans-serif;
    font-size: 5rem;
    font-weight: 700;
    transform: skew(-15deg);
    border-radius: 1rem;
    padding: 0 2rem;
    justify-content: space-between;
    background-color: var(--grey-color);
    border: 1rem solid var(--grey-color);
    color: var(--dark-color);
    margin-top: 3rem;
    position: relative;
    transition: all 0.5s;
}
.main-btn:hover{
    border-color: var(--brown-color);
    cursor: pointer;
}
.display{
    display: block;
}
.hide{
    display: none;
}

